@using MvcKutuphane.Models.Entity
@model List<TBLUYELER>
@{
    ViewBag.Title = "UyeGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>@ViewBag.UyeAdi</h2>

<form method="post">

    @foreach (var item in Model)
    {
        <div style="margin-top:15px;">
            <label>Üye Adı</label>
            <input type="text" class="form-control" name="AD" value="@item.AD" />

        </div>
        <div style="margin-top:15px;">
            <label>Üye Soyadı</label>
            <input type="text" class="form-control" name="SOYAD" value="@item.SOYAD" />

        </div>
        <div style="margin-top:15px;">
            <label>Üye Maili</label>
            <input type="text" class="form-control" name="MAIL" value="@item.MAIL" />

        </div>
        <div style="margin-top:15px;">
            <label>Üye Kullanıcı Adı</label>
            <input type="text" class="form-control" name="KULANICIADI" value="@item.KULANICIADI" />

        </div>
        <div style="margin-top:15px;">
            <label>Üye Şifresi</label>
            <input type="text" class="form-control" name="SIFRE" value="@item.SIFRE" />

        </div>
        <div style="margin-top:15px;">
            <label>Üye Fotoğrafı</label>
            <input type="text" class="form-control" name="FOTOGRAF" value="@item.FOTOGRAF" />

        </div>
        <div style="margin-top:15px;">
            <label>Üye Telefonu</label>
            <input type="text" class="form-control" name="TELEFON" value="@item.TELEFON" />

        </div>
        <div style="margin-top:15px;">
            <label>Üye Okulu</label>
            <input type="text" class="form-control" name="OKUL" value="@item.OKUL" />

        </div>

    }
    <br />
    <br />
    <button class="btn btn-success">Güncelle</button>

</form>

